
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.btn{
    background-color: #FD6E0A;
    padding: 14px 32px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 900;
}

/* main style */

header{
    background-color: FFF8F3;
    margin-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items: center;

}

.color-orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}



